11.1

In [1]:
import zoo

In [2]:
zoo.hours()

Open 9-5 daily

11.2

In [3]:
import zoo as menagerie

In [4]:
menagerie.hours()

Open 9-5 daily

16.8

In [5]:
import sqlite3

In [6]:
conn = sqlite3.connect('books.db')

In [7]:
curs = conn.cursor()

In [8]:
curs.execute('''CREATE TABLE books
    (title VARCHAR(50) PRIMARY KEY,
    author VARCHAR(50),
    year INT)''')

In [11]:
import csv

In [16]:
with open('books.csv') as fin:
    csvin = csv.reader(fin, delimiter=',')
    list = []
    for row in csvin:
        value = (row[0], row[1], row[2])
        list.append(value)

In [29]:
for row in list:
    ins = 'INSERT INTO books (title, author, year) VALUES (?,?,?)'
    curs.execute(ins, row)

In [37]:
import sqlalchemy as sa

In [39]:
conn = sa.create_engine('sqlite://')

In [44]:
curs.execute('SELECT title FROM books ORDER BY title')

In [45]:
curs.fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',),
 ('author',)]